:root {
  /* colors for text on light background */
  --main-text-color-dark: #212121;
  --secondary-text-color-dark: #757575;

  /* colors for text on dark background */
  --main-text-color-light: #ffffff;
  --secondary-text-color-light: #ffffff99;

  /* colors for background */
  --main-background-color: #ffffff;
  --secondary-backgound-color-light: #f5f4fa;
  --secondary-background-color-dark: #2f303a;

  /* accent colors */
  --accent-color: #2196f3;
  --accent-color-hover: #188ce8;
}

/* reset some default styles */

.visually-hidden,
input[type='checkbox'] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container *,
.form * {
  outline: 1px solid red;
  outline: none;
}

a {
  text-decoration: none;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

/* common styles */
body {
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-text-color-dark);
  margin: 0;
}

.accent {
  color: var(--accent-color);
}

.button {
  border: none;
  box-shadow: none;
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;

  border-radius: 4px;
  padding: 6px 22px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main {
  background: var(--accent-color);
  color: var(--main-text-color-light);
}

.button-main.active,
.button-main:hover,
.button-main:focus {
  background: var(--accent-color-hover);
}

.button-secondary {
  background-color: var(--secondary-backgound-color-light);
  color: var(--main-text-color-dark);
}

.button-secondary.active,
.button-secondary:hover,
.button-secondary:focus {
  background: var(--accent-color);
  color: var(--main-text-color-light);
}

.section {
  padding: 94px 0;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.icon {
  fill: currentColor;
}

/* header styles */
.page-header {
  display: flex;
  align-items: stretch;
  min-height: 80px;
  border-bottom: 1px solid #ececec;
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-text-color-dark);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover {
  opacity: 0.85;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  margin-left: 93px;
  height: 100%;
}

.nav-item .nav-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;

  color: var(--main-text-color-dark);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header .nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-links .nav-link:hover,
.nav-links .nav-link:focus,
.nav-links .nav-link.active {
  color: var(--accent-color);
}

.nav-links .nav-link.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  display: block;
  background: var(--accent-color);
  border-radius: 2px;
}

.header-contacts {
  display: flex;
}

.header-contacts .contact-link {
  display: inline-flex;
  vertical-align: middle;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color-dark);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts .icon {
  /* width: 16px;
  height: 16px; */
  margin-right: 10px;
}

.page-header .contact-item:not(:first-child) {
  margin-left: 50px;
}

.header-contacts .contact-link:hover,
.header-contacts .contact-link:focus {
  color: var(--accent-color);
}

/* home page styles */
.hero {
  background-color: var(--secondary-background-color-dark);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;

  padding: 200px 0;
}

.hero .button {
  padding: 10px 32px;
}

.homepage-headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-text-color-light);

  width: 696px;
  margin: 0 auto 30px;
}

.hero .button-main {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.advantages-list {
  display: flex;
}

.advantage-item {
  flex: 1;
}

.advantage-item:not(:last-child) {
  margin-right: 30px;
}

.advantage-item .icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--secondary-backgound-color-light);
}

.advantage-item .item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--main-text-color-dark);

  margin-bottom: 10px;
}

.advantage-item .item-descr {
  color: var(--secondary-text-color-dark);
}

.example {
  padding-top: 0;
}

.examples-list {
  display: flex;
}

.example-item {
  position: relative;
}

.example-item:not(:last-child) {
  margin-right: 30px;
}

.example-item .example-title {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  padding: 27px 0;

  background: rgba(48, 49, 59, 0.8);
  color: var(--main-text-color-light);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
}

.team {
  background-color: var(--secondary-backgound-color-light);
}

.team-list {
  display: flex;
}

.team-item {
  background-color: var(--main-text-color-light);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-item .team-info {
  padding: 30px 32px;
}

.team-item .item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.team-item .item-descr {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color-dark);
  margin-bottom: 16px;
}

.team-item .social-icons {
  display: flex;
  justify-content: space-between;
}

.team-item .social-link {
  color: #afb1b8;
  display: inline-flex;
  border-radius: 50%;
  padding: 12px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item .social-link:hover,
.team-item .social-link:focus {
  color: var(--main-text-color-light);
  background-color: var(--accent-color);
}

.client-list {
  display: flex;
  justify-content: space-between;
}

.client-list .client-item {
  width: 170px;
}

.client-item .client-link {
  display: flex;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item .client-link:hover,
.client-item .client-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* .client-item .icon {
  width: 106px;
  height: 60px;
} */

/* portfolio page styles */
.portfolio .container {
  display: flex;
  flex-direction: column;
}

.filter-list {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item .button {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-item .button:hover,
.filter-item .button:focus,
.filter-item .button.active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list .filter-item:not(:last-child) {
  margin-right: 10px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio-list .portfolio-case {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.portfolio-case .case-link {
  position: relative;
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-case .case-link:hover,
.portfolio-case .case-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.image-overlay {
  position: relative;
  overflow: hidden;
}

.image-overlay .image-descr {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-descr p {
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-text-color-light);
}

.portfolio-case .case-link:hover .image-descr,
.portfolio-case .case-link:focus .image-descr {
  transform: translateY(0);
}

.portfolio-case .case-info {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.portfolio-case .case-img {
  display: block;
  width: 100%;
  height: auto;
}

.portfolio-list .item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color-dark);

  margin-bottom: 4px;
}

.portfolio-list .item-descr {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color-dark);
}

/* footer styles */
.page-footer {
  background-color: var(--secondary-background-color-dark);

  padding: 60px 0;
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.page-footer .logo {
  color: var(--main-text-color-light);
}

.page-footer address {
  font-style: normal;
  margin-top: 20px;
}

.page-footer .addr {
  color: var(--main-text-color-light);
}

.page-footer .addr,
.page-footer .contact-item:not(:last-child) {
  margin-bottom: 9px;
}

.page-footer .contact-link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-light);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer .contact-link:hover,
.page-footer .contact-link:focus {
  color: var(--accent-color);
}

.page-footer .social-wrap {
  margin-left: 70px;
}

.page-footer .subtitle {
  color: var(--main-text-color-light);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* .page-footer .icon {
  width: 20px;
  height: 20px;
} */

.page-footer .social-icons {
  display: flex;
}

.page-footer .social-item:not(:last-child) {
  margin-right: 10px;
}

.page-footer .social-link {
  color: var(--main-text-color-light);
  display: inline-flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 12px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer .social-link:hover,
.page-footer .social-link:focus {
  color: var(--main-text-color-light);
  background-color: var(--accent-color);
}

.page-footer .subscribe {
  margin-left: auto;
}

.page-footer .form-subscribe {
  display: flex;
  align-items: stretch;
  padding: 0;
}

.form.form-subscribe .form-input {
  border-color: rgba(255, 255, 255, 0.3);
  width: 358px;
  padding: 15px 16px;
  color: var(--main-background-color);
}

.form.form-subscribe .form-input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.form.form-subscribe .button {
  line-height: 1.875;
  display: flex;
  align-items: center;
  padding: 10px 28px;
  margin: 0;
  margin-left: 12px;
}

.form-subscribe .icon {
  margin-left: 10px;
}

/* modal window */
.backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  min-height: 581px;
  min-width: 528px;
  top: 50%;
  left: 50%;

  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.close-modal {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;

  background: var(--main-background-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  color: #000;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover {
  color: var(--accent-color);
}

.close-modal .icon {
  width: 11px;
  height: 11px;
  color: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* form styles */
.form {
  padding: 40px;
}

.form .form-title {
  font-size: 20px;
  line-height: 1.15;

  color: var(--main-text-color-dark);
}

.form .form-field:not(.form-checkbox) {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 28px;
}

.form .form-field:first-child {
  margin-top: 18px;
}

.form :not(.form-checkbox) label {
  position: absolute;
  bottom: calc(100% + 0px);

  padding-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  cursor: pointer;

  color: var(--secondary-text-color-dark);
}

.form .form-input {
  background-color: transparent;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form .form-input::placeholder {
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form textarea.form-input {
  resize: none;
  padding-left: 16px;
  height: 120px;
}

.form .form-input:hover,
.form .form-input:focus {
  border-color: var(--accent-color);
  outline: 0px;
}

.form-field:not(.form-checkbox) .icon {
  color: currentColor;
  position: absolute;

  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover + .icon,
.form-input:focus + .icon {
  color: var(--accent-color);
}

.form a {
  color: var(--accent-color);
  text-decoration: underline;
}

.form .form-checkbox {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;

  cursor: pointer;

  color: var(--secondary-text-color-dark);
}

input[type='checkbox'] + .check {
  position: relative;
  display: inline-flex;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border-radius: 2px;
  border: 2px solid var(--main-text-color-dark);
}

input[type='checkbox'] + .check .icon-check {
  display: none;
  position: absolute;
  box-sizing: content-box;
  left: -2px;
  top: -2px;
}

.form-checkbox input:checked + .check .icon-check {
  display: block;
}

.form .button {
  display: block;
  padding: 10px 55px;

  margin: 30px auto 0;
}
